--
-- PostgreSQL database dump
--

\restrict SQ8dd9ajGEvaF7jS0E0t0Esgmw2SQg86UlB0cLtwNUkYhht8HHmsMn5GgREq7UV

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: studentdetails; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.studentdetails (
    id integer NOT NULL,
    fullname character varying(100) NOT NULL,
    dob date,
    gender character varying(20),
    contact character varying(15),
    alternate_contact character varying(15),
    address text,
    college character varying(200),
    degree character varying(50),
    branch character varying(100),
    year character varying(20),
    semester character varying(20),
    registration_id character varying(100),
    email character varying(150),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    attendance character varying(20),
    result character varying(50),
    payment_status character varying(30)
);


ALTER TABLE public.studentdetails OWNER TO postgres;

--
-- Name: studentdetails_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.studentdetails_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.studentdetails_id_seq OWNER TO postgres;

--
-- Name: studentdetails_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.studentdetails_id_seq OWNED BY public.studentdetails.id;


--
-- Name: studentdetails id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentdetails ALTER COLUMN id SET DEFAULT nextval('public.studentdetails_id_seq'::regclass);


--
-- Data for Name: studentdetails; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: studentdetails_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.studentdetails_id_seq', 26, true);


--
-- Name: studentdetails studentdetails_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentdetails
    ADD CONSTRAINT studentdetails_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict SQ8dd9ajGEvaF7jS0E0t0Esgmw2SQg86UlB0cLtwNUkYhht8HHmsMn5GgREq7UV

